extends layout

block content
  .row
    .col-md-6
      h1 Edit a seller
      form(role="form", method="post", action="/sellers/#{seller.id}?_method=put")
        include editform_seller
        button.btn.btn-warning(type="submit") SAVE